#haut_de_page{
	position: relative;
	top: 10px;
	left: -177px;
}

.links{
	text-align: center;
	margin-bottom: 50px;
}

a{
	margin: 20px;
}

h1{

	text-align: center;
	margin-left: 150px;
}

p{
	margin: 0 50px 0 50px ;
	text-align: justify;
}

.box{
	background-color: pink;
	width: 800px;
	margin: auto;
}